<?xml version="1.0" encoding="utf-8"?>
<DataType Key="525d5e79-9c6c-485b-8dcf-c04c65b1bcd9" Alias="Font Awesome Icon Picker - Font Awesome Pro Kit" Level="1">
  <Info>
    <Name>Font Awesome Icon Picker - Font Awesome Pro Kit</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Koben.Umbraco.IconPicker.FontAwesome</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "selectionPolicy": {
    "catalogSource": "kit",
    "releaseMajor": 7,
    "kitToken": "",
    "families": [],
    "styles": [],
    "allowedIcons": [],
    "includeOfficial": true,
    "includeCustom": true
  }
}]]></Config>
</DataType>