<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfe14727-d893-493e-be06-04f5796212bd" Alias="Font Awesome Icon Picker - Font Awesome Free 6.7.2" Level="1">
  <Info>
    <Name>Font Awesome Icon Picker - Font Awesome Free 6.7.2</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Koben.Umbraco.IconPicker.FontAwesome</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "selectionPolicy": {
    "catalogSource": "free",
    "releaseMajor": 6,
    "families": [],
    "styles": [],
    "allowedIcons": [],
    "includeOfficial": true,
    "includeCustom": true
  }
}]]></Config>
</DataType>