<?xml version="1.0" encoding="utf-8"?>
<DataType Key="103bc0b4-604d-482b-b06b-ce0be85cd9a0" Alias="Font Awesome Icon Picker - Font Awesome Free 7.2.0" Level="1">
  <Info>
    <Name>Font Awesome Icon Picker - Font Awesome Free 7.2.0</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Koben.Umbraco.IconPicker.FontAwesome</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "selectionPolicy": {
    "catalogSource": "free",
    "releaseMajor": 7,
    "families": [],
    "styles": [],
    "allowedIcons": [],
    "includeOfficial": true,
    "includeCustom": true
  }
}]]></Config>
</DataType>