<?xml version="1.0" encoding="utf-8"?>
<Content Key="155c754d-30bc-48e4-a25a-c6bcd1485e1d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-07-15T11:26:22</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b5b5e1e-2831-47fa-a12e-dfa8f07ae7d3">homePage</Template>
  </Info>
  <Properties>
    <fontAwesomeFree672Icon>
      <Value><![CDATA[fa-solid fa-rocket]]></Value>
    </fontAwesomeFree672Icon>
    <fontAwesomeFree720Icon>
      <Value><![CDATA[fa-solid fa-robot]]></Value>
    </fontAwesomeFree720Icon>
    <fontAwesomeProKitIcon>
      <Value><![CDATA[fa-jelly-fill fa-regular fa-gamepad]]></Value>
    </fontAwesomeProKitIcon>
  </Properties>
</Content>